@import 'tailwindcss';
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #898691;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5e5858;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.app-region-drag {
  -webkit-app-region: drag;
  app-region: drag;
}
.app-region-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
span.bt:hover {
  cursor: pointer;
  background-color: rgb(214, 214, 214);
}
